<div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      <h2>Login</h2>
      <div class="form-group">
        <label for="name">Email:</label>
        <input type="text" id="name" formControlName="name" placeholder="Enter your Email">
        <div *ngIf="loginForm.get('name')?.invalid && (loginForm.get('name')?.dirty || loginForm.get('name')?.touched)" class="error">
          Email is required
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password" placeholder="Enter your password">
        <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)" class="error">
          Password is required
        </div>
      </div>
      <button type="submit" [disabled]="!loginForm.valid">Login</button>
      <div *ngIf="loginError" class="error-message">
        {{ loginError }}
      </div>
    </form>
  </div>