@if (viewMode){
  @if (currentUser.id){
  <h4>User</h4>
  <div>
    <label><strong>Title:</strong></label> {{ currentUser.title }}
  </div>

  <a class="badge badge-warning" routerLink="/users/{{ currentUser.id }}">
    Edit
  </a>
  } @else {<p>Please click on a User...</p>}
} @else {
  @if (currentUser.id) {
    <div class="edit-form">
      <h4>User</h4>
      <form [formGroup]="userForm">

        <div class="form-group">
          <label for="name">Name <span class="text-danger">*</span></label>
          <input
            type="text"
            class="form-control"
            id="name"
            formControlName="name"
            required
          />
          <div *ngIf="userForm?.controls?.name?.invalid && (userForm?.controls?.name?.dirty || userForm?.controls?.name?.touched)" class="alert alert-danger">
            <div *ngIf="userForm?.controls?.name?.errors?.['required']">Name is required.</div>
          </div>
        </div>

        <div class="form-group">
          <label for="dob">Date of Birth <span class="text-danger">*</span></label>
          <input
            class="form-control"
            id="dateOfBirth"
            type="date"
            required
            formControlName="dateOfBirth"
          />
          <div *ngIf="userForm?.controls?.dateOfBirth?.invalid && (userForm?.controls?.dateOfBirth?.dirty || userForm?.controls?.dateOfBirth?.touched)" class="alert alert-danger">
            <div *ngIf="userForm?.controls?.dateOfBirth?.errors?.['required']">Date of Birth is required.</div>
            <div *ngIf="userForm?.controls?.dateOfBirth?.errors?.['date']">Please enter a valid date.</div>
            <div *ngIf="userForm?.controls?.dateOfBirth?.errors?.['futureDate']">Date of Birth cannot be in the future.</div>
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email <span class="text-danger">*</span></label>
          <input
            type="text"
            class="form-control"
            id="email"
            formControlName="email"
            required
          />
          <div *ngIf="userForm?.controls?.email?.invalid && (userForm?.controls?.email?.dirty || userForm?.controls?.email?.touched)" class="alert alert-danger">
            <div *ngIf="userForm?.controls?.email?.errors?.['required']">Email is required.</div>
            <div *ngIf="userForm?.controls?.email?.errors?.['email']">Please enter valid email address.</div>
          </div>

        </div >
        <div class="d-flex gap-1">
        <button
          type="click"
          class="btn btn-success mb-2 mr-2"
          (click)="updateUser()">
          Update
        </button>
        <button
          type="click"
          class="btn btn-secondary mb-2"
          (click)="backToListing()">
          Cancel
        </button>
      </div>
      </form>
      <p>{{ message }}</p>
    </div>
  } @else {<p>Cannot access this User...</p>}
}
