<div class="row">
	<div class="col-md-12">
		<div class="input-group mb-3">
			<input type="text" class="form-control" placeholder="Search by Name" [(ngModel)]="title" />
			<div class="input-group-append">
				<button class="btn btn-outline-secondary" type="button" (click)="searchTitle()">
					Search
				</button>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="d-flex justify-content-between">
			<h4>Users List</h4>
			<button class="btn btn-info btn-sm px-2 py-0" type="button" (click)="addUser()">
				Add New
			</button>
		</div>
		<div class="container">
			<table class="table table-striped" *ngIf="users && users.length > 0">
				<thead>
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th>Date of Birth</th>
						<th>Registration Date</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let user of paginatedUsers; let i = index; trackBy: trackByUserId">
						<td>{{ user.name }}</td>
						<td>{{ user.email }}</td>
						<td>{{ user.dateOfBirth | date: 'dd-MM-yyyy' }}</td>
						<td>{{ user.createdAt | date: 'dd-MM-yyyy' }}</td>
						<td class="d-flex gap-1">
							<button class="btn btn-info btn-sm mr-2" (click)="editUser(user.id)">Edit</button>
							<button class="btn btn-danger btn-sm" *ngIf="loggedInUserId != user.id"
								(click)="deleteUser(user.id)">Delete</button>
						</td>
					</tr>
				</tbody>
			</table>

			<!-- Handle case when no users are present -->
			<div *ngIf="!users || users.length === 0" class="alert alert-warning" role="alert">
				No users found.
			</div>

			<!-- Pagination controls -->
			<nav aria-label="Page navigation" *ngIf="users?.length > itemsPerPage">
				<ul class="pagination justify-content-center">
					<!-- Previous Button -->
					<li class="page-item" [class.disabled]="currentPage === 1">
						<a class="page-link" href="#" (click)="changePage(currentPage - 1)">Previous</a>
					</li>

					<!-- First Page -->
					<li class="page-item" *ngIf="currentPage > 3">
						<a class="page-link" href="#" (click)="changePage(1)">1</a>
					</li>

					<!-- Dots if current page is too far from the first page -->
					<li class="page-item disabled" *ngIf="currentPage > 4">
						<a class="page-link" href="#">...</a>
					</li>

					<!-- Display pages around the current page -->
					<li class="page-item" *ngFor="let page of getDisplayedPages()"
						[class.active]="currentPage === page">
						<a class="page-link" href="#" (click)="changePage(page)">{{ page }}</a>
					</li>

					<!-- Dots if current page is too far from the last page -->
					<li class="page-item disabled" *ngIf="currentPage < totalPages - 3">
						<a class="page-link" href="#">...</a>
					</li>

					<!-- Last Page -->
					<li class="page-item" *ngIf="currentPage < totalPages - 2">
						<a class="page-link" href="#" (click)="changePage(totalPages)">{{ totalPages }}</a>
					</li>

					<!-- Next Button -->
					<li class="page-item" [class.disabled]="currentPage === totalPages">
						<a class="page-link" href="#" (click)="changePage(currentPage + 1)">Next</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>